@using Technify.Areas.Admin.Models.Account;
@model AccountLoginVM;
@{

    Layout = null;
    string returnUrl = Context.Request.Query["returnUrl"];
}

<!doctype html>
<html lang="en">
<head>
    <title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/assets_login/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(/assets_login/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Admin Login</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">


                        <form method="post" asp-action="login" asp-controller="account" class="signin-form">
                            <input value="@returnUrl" asp-for="ReturnUrl" type="hidden" />
                            <div class="text-danger" asp-validation-summary="All">
                            </div>
                            <div class="form-group">
                                <input asp-for="Email" class="form-control" placeholder="Email">
                                <span asp-validation-for="Email"></span>
                            </div>

                            <div class="form-group">
                                <input id="password-field" asp-for="Password" class="form-control" placeholder="Password">
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Login</button>
                            </div>

                        </form>
                     
                    </div>
                </div>
            </div>


        </div>
    </section>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>


