@using Technify.Areas.Admin.Models.User;
@model UserCreateVM

<form enctype="multipart/form-data" method="post" asp-action="create" asp-controller="user">
      <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="Enter title" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" placeholder="Enter title" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Enter title" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Enter title" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RoleIds"></label>
        <select asp-for="RoleIds" asp-items="@Model.Roles" class="form-select" multiple></select>
        <span asp-validation-for="RoleIds" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>