@using Technify.Areas.Admin.Models.User;
@model UserIndexVM;
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"> Users</h1>
</div>

<table class="table table-light">
    <thead>
        <tr>
            <th scope="col">Email</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
            {
            <tr>
          
                <td>@user.Email</td>

              
                <td class="text-center d-flex justify-content-center">
                    <a class="btn btn-secondary mx-2" asp-route-id="@user.Id" asp-controller="user" asp-action="Detail">Details</a>
                    <a class="btn btn-secondary mx-2" asp-route-id="@user.Id" asp-action="update" asp-controller="user">✏️</a>
                    <form method="post" asp-route-id="@user.Id" asp-action="delete" asp-controller="user">
                        <button type="submit" class="btn btn-danger">X</button>
                    </form>
                </td>
            
            </tr>
            }
    </tbody>
</table>