
@using Technify.Models.Account;
@model AccountLoginVM;
@{

    Layout = null;

    string returnUrl = Context.Request.Query["returnUrl"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Technify Login</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/assets_login/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/assets_login/css/style.css">
</head>
<body>
    <div class="main">
        <img style="margin:0 auto;display:block;" width="200" src="~/assets_main/images/2.png" alt="Alternate Text" />

        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" asp-action="login" asp-controller="account">
                        <h2 class="form-title">Login Account</h2>
                        <input value="@returnUrl" asp-for="ReturnUrl" type="hidden" />
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="form-group">
                            <input asp-for="Email" class="form-input" placeholder="Your Email" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" class="form-input" id="password" placeholder="Password" />
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term">
                                <span><span></span></span>I agree to all statements in <a href="#" class="term-service">Terms of service</a>
                            </label>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="form-submit">Login</button>
                        </div>
                    </form>
                    <p class="loginhere">
                        Don't have an account? <a asp-action="register" asp-controller="account" class="loginhere-link">Register here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>



</body>
</html>