@using Technify.Models.Account
@model AccountResetPasswordVM;

@{

    Layout = "_Layout";
    string email = Context.Request.Query["email"];
    string token = Context.Request.Query["token"];
}


<div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Reset Password?</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">


            <form method="post" asp-action="resetpassword" asp-controller="account" class="signin-form">
                <p class="w-100 text-center">&mdash; Enter Your New Password &mdash;</p>
                <div class="text-danger" asp-validation-summary="All">
                </div>
                <input value="@token" type="hidden" asp-for="Token" />
                <input value="@email" type="hidden" asp-for="Email" />
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Password">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>

                <div class="social d-flex text-center">
                    <button type="submit" class="px-1 py-1 rounded">Reset</button>
                </div>


            </form>


        </div>
    </div>
</div>


